.table {
    overflow: scroll;
    height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fffff2;
}
.table tr:nth-of-type(odd) {
    background: rgba( 255, 255, 255, 0.2 )
}
.table tr {
    display:flex;
    justify-content: space-between; 
}
.table td {
    padding: 0.5rem;
}
.table::-webkit-scrollbar {
    display: none;
  }